/* El archivo de CSS o Cascade Style Sheet, es el que se encarga de darle estilos para poder ver mejor mi documento de HTML, además también de permitirnos adaprtalo a diferentes tamaños de pantallas.*/

/*! Definir estilos */
/* Los estilos se pueden aplicar de 3 maneras */
/**CSS inline*/
/* Se pueden poner los estilos a una etiqueta dentro de la misma etiqueta:*/
/*? Ej:*/
/* <h1 style="text-align: center;">Contacto<h1> */

/**STYLE en el head*/
/* Se define dentro del head de nuestro HTML con una etiqueta style*/
/*? Ej:*/
/* <head>
<style>
p{
    text-align: center;
}
</style> 
</head>*/

/**style.css*/
/* Se definen en un archivo aparte, y se enlaza de la siguiente manera con la etiqueta link:*/
/*? Ej:*/
/*  <link rel="stylesheet" href="./style.css" */

/* Los estilos se aplican en casada, esto quiere decir que se aplican desde los padres hasta los hijos en HTML  */

/* Los estilos CSS se enlazan */

/* La manera de definir las etiquetas es la siguiente: */

/*! colores */
/* Los colores se pueden definir en rgb (255,0,255,80 los dos ultimos numeros son la transparencia, entonces se conocería como rgba), hexadecimal (#FF1177_ _ los dos ultimos digitos indican transparencia) */

/*! Selectores */
body {
    background-color: aliceblue;
    /* Esto va aplicar estilos a todo lo que esté dentro del BODY */
}

.clase {
    color: brown;
    /* de esta manera llamaremos las clases desde HTML para aplicarle estilos */
}

em strong {
    font-family: sans-serif;
    /* esto por ejemplo, va a aplicar un estilo a todos los STRONG que esten DENTRO de cualquier EM */
}

#ejemplo {
    display: flex;
}
